<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/ModeloJugueteria.csdl|res://*/ModeloJugueteria.ssdl|res://*/ModeloJugueteria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Jugueteria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>